.App {
  text-align: center;
  
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;
}

.header__logo {
  margin-right: 5px;
}

.header__logo img {
  width: 60px;
  border-radius: 20%;
}

.header__title h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #3e8e41;
}

.card-container {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.is-today {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
}

.city {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.date {
  font-size: 18px;
  margin-bottom: 10px;
}

.temp {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.icon {
  width: 100px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail {
  font-size: 18px;
  margin-right: 20px;
}

.detail:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .weather-card {
    width: 100%;
  }
}

.footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;
}


.footer__title h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}